.svg-logo1-dims {
	width: 165px;
	height: 127px;
}

.svg-logo2-dims {
	width: 170px;
	height: 127px;
}

.svg-logo3-dims {
	width: 157px;
	height: 126px;
}

.svg-scroll-dims {
	width: 20px;
	height: 16px;
}

