$grid-width: 1520px;
$grid-padding: 30px;

%container {
    max-width: $grid-width + ($grid-padding * 2);
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    margin-left: auto;
    margin-right: auto;
}

%slide {
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}