.__dd {
    &__blink {
        color: #000;
        font-family: 'Playfair Display SC';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: .02em;
        position: relative;
        display: inline-block;
        padding: 10px 0;
        span {
            font-weight: bold;
        }
        &::after {
            content: '';
            height: 1px;
            width: 100%;
            background: #949494;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 100%;
            transition: .25s all ease;
        }
        &:hover {
            &::after {
                width: 40%;
            }
        }
    }
    &__heading {
        @include heading(center, 45px);
        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 25px;
        }
    }
    &__desc {
        @include desc();
        text-align: center;
        @media (max-width: 768px) {
            br {
                display: none;
            }
        }
    }
    &__banner {
        background-image: url(../../img/bg_one.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        overflow: hidden;
        &__inner {
            min-height: 100vh;
            width: 100%;
            @extend %container;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;
            &::after {
                content: 'SILVERIA';
                font-family: 'Playfair Display SC';
                font-size: 265px;
                line-height: 307px;
                letter-spacing: 0.02em;
                position: absolute;
                left: 0;
                bottom: 15%;
                z-index: -1;
                color: #fff;
            }
        }
        &__left {
            max-width: 490px;
            min-width: 490px;
            width: 490px;
            margin-right: 110px;
        }
        &__right {
            max-width: 715px;
            width: 100%;
        }
        &__title {
            @include heading(left, 40px);
        }
        &__desc {
            @include desc();
            margin-bottom: 70px;
        }
        &__down {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 75px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            bottom: 25px;
            cursor: pointer;
            animation: 5s ease-in-out 0s normal none infinite scroll;
            &__text {
                color: #949494;
                font-family: 'Playfair Display SC';
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.02em;
                margin-bottom: 5px;
            }
            &__arrow {
                text-align: center;
                svg {
                    fill: #949494;
                }
            }
        }
    }
    &__one {
        @extend %slide;
        &__inner {
            @extend %container;
        }
        &__img {
            padding-top: 120px;
            max-width: 590px;
            margin: 0 auto;
        }
    }
    &__two {
        @extend %slide;
        background-image: url(../../img/bg_two.jpg);
        background-position: top center;
        background-size: cover;
        height: 840px;
        &__inner {
            @extend %container;
        }
    }
    &__three {
        @extend %slide;
        &__inner {
            @extend %container;
        }
        &__logos {
            display: flex;
            flex-wrap: wrap;
            padding-top: 120px;
            align-items: center;
            &__block {
                max-width: 33.33333%;
                width: 100%;
                text-align: center;
                svg {
                    fill: #B48570;
                }
            }
        }
    }
    &__four {
        @extend %slide;
        background-image: url(../../img/bg_three.jpg);
        background-size: cover;
        background-position: center;
        padding-bottom: 0;
        &__inner {
            @extend %container;
        }
        &__logo {
            padding: 70px 0 130px 0;
            max-width: 560px;
            width: 100%;
            margin: 0 auto;
        }
        &__ring {
            max-width: 525px;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__six {
        @extend %slide;
        background-image: url(../../img/bg_three.jpg);
        background-size: cover;
        background-position: top center;
        padding-bottom: 0;
        overflow: hidden;
        &__inner {
            @extend %container;
        }
        &__wrap {
            margin: 0 -65px;
            display: flex;
            flex-wrap: wrap;
        }
        &__col {
            padding-left: 65px;
            padding-right: 65px;
            width: 100%;
            &.__dd__is--w100 {
                max-width: 100%;
            }
            &.__dd__is--w50 {
                max-width: 50%;
            }
            &.__dd__is--two {
                padding-top: 100px;
            }
        }
        &__block {
            margin-bottom: 130px;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        }
    }
    &__seven {
        @extend %slide;
        &__inner {
            @extend %container;
        }
        &__img {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding-top: 100px;
        }
    }
    &__eight {
        @extend %slide;
        background: #F2F7FD;
        &__inner {
            @extend %container;
        }
        &__phones {

        }
    }
    &__nine {
        @extend %slide;
        background-image: url(../../img/bg_three.jpg);
        background-size: cover;
        background-position: top center;
        &__inner {
            @extend %container;
        }
        &__img {
            padding-top: 60px;
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@keyframes scroll {
    50% {
        transform: translateY(-15px)
    }
}

@media (max-width: 1200px) {
    .__dd {
        &__banner {
            &__left {
                width: 300px;
                max-width: 300px;
                min-width: 300px;
            }
        }
    }
}

@media (max-width: 1025px) {
    .__dd {
        &__banner {
            &__title {
                font-size: 24px;
                line-height: 26px;
                margin-bottom: 20px;
            }
            &__desc {
                margin-bottom: 30px;
            }
        }
        &__six {
            &__wrap {
                margin: 0 -20px;
            }
            &__col {
                padding-left: 20px;
                padding-right: 20px;
            }
            &__block {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .__dd {
        &__banner {
            &__inner {
                flex-wrap: wrap;
                padding-top: 30px;
                padding-bottom: 30px;
                &::after {
                    content: none;
                }
            }
            &__left {
                margin: 0 auto 30px auto;
                max-width: 40%;
                min-width: 0;
                width: 100%;
            }
            &__title {
                font-size: 17px;
                line-height: 24px;
            }
            &__down {
                display: none;
            }
        }
        &__one {
            &__img {
                padding-top: 40px;
            }
        }
        &__two {
            height: 340px;
        }
        &__three {
            &__logos {
                padding-top: 40px;
                &__block {
                    max-width: 100%;
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    svg {
                        height: 90px;
                    }
                }
            }
        }
        &__four {
            &__logo {
                padding-top: 30px;
                padding-bottom: 50px;
            }
        }
        &__six {
            &__col {
                max-width: 100% !important;
                &.__dd__is--two {
                    padding-top: 0;
                }
            }
        }
        &__seven {
            &__img {
                padding-top: 40px;
            }
        }
    }
}